/* same style */
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* main styling */
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
}
p {
  margin: 10px 0;
}

/* navbar */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}
#navbar a {
  color: #fff;
}
#navbar h1 {
  float: left;
  padding-top: 20px;
}
#navbar ul {
  float: right;
  list-style: none;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar ul li a.current,
#navbar ul li a:hover {
  background: #444;
  color: #f7c08a;
}

/* main-footer */
#main-footer {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 20px;
}

/* utility classes */
.container {
  margin: 0 auto;
  max-width: 1100px;
  overflow: hidden;
  padding: 0 20px;
}
.text-primary {
  color: #f7c08a;
}
.bg-primary {
  background: #f7c08a;
}
.bg-dark {
  background: #444;
  color: #fff;
}
.btn {
  /* a设置为行内块元素 */
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
}
.btn:hover {
  background: #f7c08a;
}
.btn-light {
  background: #f4f4f4;
  color: #333;
}
.py {
  padding: 10px 0;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.l-header {
  font-size: 40px;
  padding-top: 20px;
}